<div mat-dialog-content>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 mat-dialog-title>Change password</h1>
        <div class="mt-1" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input placeholder="Password" autocomplete="on" type="password" formControlName="password"
              class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }" />
            <div *ngIf="submitted && formControls.password.errors" class="invalid-feedback">
              <div *ngIf="formControls.password.errors.required">Password required</div>
              <div *ngIf="formControls.password.errors.minlength">Password must contain at least
                {{FormHelper.passwordMinLength}} characters</div>
              <div *ngIf="formControls.password.errors.maxlength">Password must contain no more than
                {{FormHelper.passwordMaxLength}} characters</div>
              <div *ngIf="formControls.password.errors.pattern">Password must contain uppercase and lowercase characters
                and numbers
              </div>
            </div>
          </div>
          <div class="form-group">
            <input placeholder="Repeat password" autocomplete="on" type="password" formControlName="rePassword"
              class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.rePassword.errors }" />
            <div *ngIf="submitted && formControls.rePassword.errors" class="invalid-feedback">
              <div *ngIf="formControls.rePassword.errors.required">This field is required</div>
              <div *ngIf="formControls.rePassword.errors.matchOther">Passwords not match</div>
            </div>
          </div>
        </div>
        <div mat-dialog-actions>
          <button class="btn btn-secondary mr-1" [mat-dialog-close]="true">Cancel</button>
          <button [disabled]="submitted && !changePasswordForm.valid" (click)="changePassword()"
            class="btn btn-success">Change</button>
        </div>
      </div>
    </div>
  </div>
</div>
