section {
  background-image: url("https://cdn.dribbble.com/users/1651691/screenshots/5336717/404_v2.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}