.message {
  margin-right: 60px;
}

.close-btn {
  position: absolute;
  color: #ff2a76;
  right: 0px;
  top: 0px;
  bottom: 0px;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}